em
{
    text-align: center;
    font: 1.4em cursive;
    color: red;
}
k
{
    text-align: center;
    font: 1em cursive;
    color: rgb(30, 134, 20);
}
k1
{
    text-align: center;
    font: 1em cursive;
    color: red;
}
k2
{
    position: relative;
    text-align: right;
    font: 1em cursive;
    color: rgb(51, 36, 182);
}


#square {
  /*  margin-left: 65px;*/
   max-width: 80%;
    border-radius: 10px;
    margin-top: 5px ;
    margin-left: 60px;
    height: 100px;
    position: relative;
	background: linear-gradient(to right,rgb(217, 160, 219) 30%,rgb(205, 235, 125) 50%);
}
#square1 {
    /*margin-left: 65px;*/
    max-width: 80%;
    border-radius: 10px;
    height: 50px;
    background: white;
    margin: 10px auto;
    position: relative;
}
 p{
    margin-top: 1px;
    margin-bottom: 1px;
   
}
hr
{
    border: none; /* Убираем границу */
    background-color: rgb(247, 70, 70); /* Цвет линии */
    color: rgb(255, 0, 0); /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 100%;

}
body
{   
    position: relative;
    background-image: url(fon.jpg);
}

.photo-wrapper {
    position: relative;
}
.photo-wrapper .slider {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photo-wrapper .photo {
    display: block;
    max-width: 90%;
    height: 450px;
    margin: 10px auto;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 0 5px #666;
}
.leftangle
{
    display: block;
    max-width: 8%;
    z-index: 5;
    height: 20px;
    margin-left: 5%;
    
}
.rightangle
{
    z-index: 5;
    display: block;
    max-width: 8%;
    margin-right: 5%;
    height: 20px;
   
}
div
{
    position: relative;
   /* background: linear-gradient(to right,rgb(61,233,221) 30%,rgb(239,169,241) 50%);*/
}
span.panelTitleTxt1 {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
main
{
    background: linear-gradient(to right,rgb(61,233,221) 30%,rgb(239,169,241) 50%);
} 
header
{
    background: linear-gradient(to right,rgb(61,233,221) 30%,rgb(239,169,241) 50%);
}
footer{ background: linear-gradient(to right,rgb(61,233,221) 30%,rgb(239,169,241) 50%);}